body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: #f4f4f4; 
    color: #333;
}

header {
    width: 100%;
    text-align: center;
    color: #5e4c96; 
    padding: 20px 0;
    background: linear-gradient(to right, #d7c9f5, #e0d7f5); 
    border-bottom: 5px solid #5e4c96; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

header h1 {
    font-family: 'Pacifico', cursive; 
    margin: 0;
    font-size: 2.5em; 
}

nav {
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

nav h2 {
    color: #7d5caa; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 5px 0;
}

nav a {
    text-decoration: none;
    color: #7d5caa; 
    font-weight: bold; 
}

nav a:hover {
    text-decoration: underline;
    color: #4e3677; 
}

main {
    max-width: 95%; 
    margin: 0 auto; 
    padding: 0 20px; 
}

.task-section {
    background-color: #ffffff; 
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.task-section h2 {
    color: #7d5caa;
}

textarea {
    width: 99%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none; 
}

button {
    background-color: #7d5caa; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #4e3677; 
}

#result {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.2em;
    color: #5e4c96; 
}

.cute-gif {
    width: 200px; 
    height: auto; 
    display: block; 
    margin: 10px auto; 
}

footer {
    background-color: #5e4c96; 
    color: white; 
    text-align: center;
    padding: 15px 0; 
    width: 100%; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    position: relative; 
}

footer p {
    margin: 0; 
    font-size: 1em; 
}


p a {
    text-decoration: none;
    color: #7d5caa; 
    font-weight: bold; 
}

p a:hover {
    text-decoration: underline;
    color: #4e3677; 
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0; 
}

.video-container iframe {
    height: 100%;
}

.collapsible {
    background-color: linear-gradient(to right, #d7c9f5, #e0d7f5); /* Purple color */
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 24px;
    transition: background-color 0.3s;
    width: 100%; /* Make button full width */
}

.collapsible:hover {
    background-color: #5e4c96; /* Darker purple on hover */
}

.content {
    padding: 0 10px;
    display: none; /* Hidden by default */
    overflow: hidden; /* Prevent overflow */
    background-color: #f1f1f1; /* Light background for content */
    border-left: 5px solid #6200ea; /* Optional border */
}